#centered {
  text-align: center;
}

#guitar-welcome-parent {
  display: inline-flex;
  margin-top: 125px;
  text-align: initial;
}

#guitar {
  max-width: 100%;
  width: 240px;
  height: auto;
  transform: rotate(-13deg);
  margin-left: 10px;
}

#welcome {
  position: relative;
  top: 70px;
  right: 75px;
}

#instructions {
  position: relative;
  top: 62px;
  right: 75px;
  color: white;
}

#search-input {
  position: relative;
  top: 65px;
  right: 75px;
  border: 3px solid black;
  border-radius: 4px;
  width: 247px;
}

#search-button {
  position: relative;
  top: 65px;
  right: 72px;
  background-color: white;
  color: black;
  font-weight: 300;
  border: 3px solid black;
  border-radius: 4px;
}
